<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sport2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sport2"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP">
        <activity android:name=".Frist"/>
        <activity android:name=".Getpasswordback"/>

        <activity android:name=".MainActivity2"/>
        <activity android:name=".Activity2"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity android:name=".Register"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>

        <activity android:name=".Forget"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>